*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    /* margin: 0 auto  ; */
}

body,html{
    width: 100%;
    height: 100%;
    /* background-color: tomato; */
}

div#container{
    width: 100%;
    height: auto;
    margin: 40px 4  0px;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

header{
    width: inherit;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu{
    width: inherit;
    height: 530px;
    /* overflow: hidden; */
    /* background-color: rgb(58, 19, 19); */
    text-align: center;
    margin: 40px 10px;
    /* transition: all 0.7s; */
}

.menu img{
    height: 400px;
    width: auto;
    margin: 20px 20px;
    text-align: center;
}

img{
    max-width: 100%;
}

.pagination {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .pagination a {
    color: black;
    text-decoration: none;
    padding: 10px 10px;
  }


.pagination a:hover{
    background-color: black;
    color: white;
}

.pagination a.active {
    background-color:black;
    color: white;
  }

#aboutme{
    text-align: center;
}

  #aboutme img{
      height:400px;
      width: auto;
      padding: 30px;
  }

  footer{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

#blogpost{
    margin:20px 20px;
}

#blogpost img{
    width: 60px;
    height: 60px;
}

#bp1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#bp1 p{
    margin: 10px 0;
}


#bp2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#bp2 p{
    margin: 10px 0;
}

#populartags{
    margin:10px 0px;
}

.tag li{
    display: inline;
    background-color: rgb(70, 67, 67);
    color: white;
    margin: 3px 3px;
}

.tag li:hover{
    background-color: black;
    cursor: pointer;
}

@media only screen and (min-width: 600px) { 
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch;
        width: 100%;

    }
    .menu{
        width: 23.6%;
        height: auto;
        box-sizing: border-box;
    }

    .menu img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .pagination {
        font-size: 20px;
        padding: 30px 200px;
        margin: 30px 0;
        display: flex;
        flex-direction: row;
        /* justify-content: space-evenly; */
        align-items: center;
      }
    
      #aboutme{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    
    #aboutme img{
          height:auto;
          width: 60%;
          padding: 30px;
      }

    #foot{
        /* background-color: green; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #footer{
        width: 33%;
    }

  }
